img{
	width:600px;
	height:450px;
}
h1{
	font-family: "Pacifico", monospace;
}
p{
	font-size: 25px;
	color: 
}
p.intro{
	color:
}
body{ 
	background: url("635988.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}